<ion-header no-border>
    <ion-toolbar>
  
      <ion-buttons slot="end">
        <ion-icon slot="icon-only" name="contacts"></ion-icon>
      </ion-buttons>

      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
  
      <ion-title>
        FeriApp
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  

  <ion-list-header> Resultados de búsqueda </ion-list-header>
  
  <ion-list *ngFor="let feria of feriasSeleccionadas">

    <ion-item color="primary"> {{feria.nombre_feria}} </ion-item>
    <ion-item color="light"> {{feria.descripcion_feria}} </ion-item>
    
    <!-- LE ASIGNO UNA FERIA A CADA INSTANCIA DEL COMPONENTE FERIAS-RESULTADO, además de los productos seleccionados -->
    <!--<app-ferias-resultado [feria]=feria [productosSeleccionados]=productosSeleccionados > </app-ferias-resultado> -->
    <ion-grid *ngFor="let producto of productosSeleccionados">

      <ion-row >
  
          <ion-col>
              <ion-item> {{producto.nombre_producto}} </ion-item>
          </ion-col>
          <ion-col>
              <ion-item> Precio por kg o unidad </ion-item>
          </ion-col>
  
      </ion-row>
  
      
      <!-- HACER ESTO COMPONENTE. Hacer un ngFor aqui para recorrer puestos en donde está el producto-->
      <app-ferias-resultado [feria]=feria [producto]=producto ></app-ferias-resultado>
  
  
  
  </ion-grid>


  </ion-list>


</ion-content>
