<ion-header no-border>
    <ion-toolbar>
  
      <ion-buttons slot="end">
        <ion-icon slot="icon-only" name="contacts"></ion-icon>
      </ion-buttons>

      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
  
      <ion-title>
        FeriApp
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-list-header> Seleccione los puestos en los que desea comprar. </ion-list-header>
  
  <ion-list *ngFor="let feria of feriasSeleccionadas">

    <ion-item color="primary"> {{feria.nombre_feria}} </ion-item>
    <ion-item color="light"> {{feria.descripcion_feria}} </ion-item>
    
    <!--<app-ferias-resultado [feria]=feria [productosSeleccionados]=productosSeleccionados > </app-ferias-resultado> -->
    <ion-grid *ngFor="let producto of productosSeleccionados">

      <ion-row >
  
          <ion-col>
              <ion-item> {{producto.nombre_producto}} </ion-item>
          </ion-col>
  
      </ion-row>
  
      
      <!-- HACER ESTO COMPONENTE. Hacer un ngFor aqui para recorrer puestos en donde está el producto-->
      <app-ferias-resultado [feria]=feria [producto]=producto (enviarSeleccionado)="recibeDelHijo($event)"></app-ferias-resultado>
  
      <!-- Button strong a los puestos seleccionados, slot "end"-->
  
  </ion-grid>


  </ion-list>


</ion-content>

<footer>

    <ion-button expand="full"
                (click)="clickSiguiente()"> Siguiente </ion-button>
     
</footer>
