<ion-header no-border>
    <ion-toolbar>
  
      <ion-buttons slot="end">
        <ion-icon slot="icon-only" name="contacts"></ion-icon>
      </ion-buttons>

      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
  
      <ion-title>
        FeriApp
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar animated
                 placeholder="Buscar feria"
                 (ionChange)="buscar( $event )"></ion-searchbar>

<ion-content>

  <app-ferias-check [textoBuscar]="textoBuscar" (feriaSeleccionada)="escuchaDelHijo($event)" ></app-ferias-check >

</ion-content>

<!-- Aca debe ir el boton para pasar a la siguiente vista, que es el despliegue de la información mediante grids -->

<footer>

    <ion-button expand="full"
                (click)="clickSiguiente()"> Siguiente </ion-button>

</footer>
