<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="contacts"></ion-icon>
    </ion-buttons>

    <ion-title>
      FeriApp
    </ion-title>
  </ion-toolbar>

  <ion-searchbar animated
                 placeholder="Buscar productos"
                 (ionChange)="buscar( $event )"></ion-searchbar>

</ion-header>

<ion-content color="light">

  <app-productos [textoBuscar]="textoBuscar" (productosSeleccionados)="escuchaDelHijo($event)"></app-productos>
    
</ion-content>


<!-- Aca debe ir el boton para pasar al siguiente paso, que es selecionar la feria -->
<footer>

    <ion-button expand="full"
                (click)="clickSiguiente()"> Siguiente </ion-button>
     
</footer>
