<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="contacts"></ion-icon>
    </ion-buttons>

    <ion-title>
      FeriApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

    <!--Refresher-->

    <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!--Posts-->
    <app-comentarios [posts]="posts"></app-comentarios>

    <!-- Infinite Scroll-->
    <!-- Si no está habilidado, entonces-->
    <ion-infinite-scroll [disabled]="!habilitado"
                         threshold="150px"
                         (ionInfinite)="siguientes($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Cargando más comentarios...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    
</ion-content>
